<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLiBrary National League</title>
</head>
<body>
    <header>
        <h1>National League</h1>
        <nav>
            <ul>
                <li type="none">
                    <a href="/"><button>Home</button></a>
                </li>
                <li type="none">
                    <a href="/national/new"><button>Add a New Team</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Teams</h2>
        <ul>
            <%for(let i=0; i< nationals.length; i++) { %>
                <li type="none">
                    <a href="/national/<%=nationals[i]._id%>"><img src="<%=nationals[i].img%>"></a>
                </li>
                <%}%>
        </ul>
    </main>
</body>
</html>