<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLiBrary Home Page</title>
</head>
<body>
    <header>
        MLiBrary
        <fieldset>
        <h1>Select A League</h1>
        <nav>
            <ul>
                <li type="none">
                    <a href="/american"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/54/American_League_logo.svg/200px-American_League_logo.svg.png"></a>
                </li>
                <li type="none"> 
                    <a href="/national"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d4/MLB_National_League_logo.svg/200px-MLB_National_League_logo.svg.png"></a>
                </li>
            </ul>
        </nav>
    </header>
    </fieldset>
    <style>
        body{
            background-image: url("https://media.istockphoto.com/photos/baseball-field-in-outdoor-stadium-with-copy-space-picture-id1143984948?k=20&m=1143984948&s=612x612&w=0&h=3c2Ch6QQ3sm9OcPpnjE7bGg68NWsal9kLiDu8Wm8uQs=");
            background-size: cover;
        }
 
        header{
            color: cadetblue;
            text-align: center;
            font-size: 28px;
        }
        h1{
            color: rgb(124, 141, 201);
        }
        li{
            flex-direction: row-reverse;
            display: inline-block;
            align-items: stretch;
        }
        fieldset{
            background-color: rgba(0, 0, 0, .4);
        }
    </style>
</body>
</html>