<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLiBrary Home Page</title>
    <header>
        MLiBrary
    </header>
</head>
<body>
    <header>
        <h1>Select A League</h1>
        <nav>
            <ul>
                <li>
                    <a href="/american">American League</a>
                </li>
                <li> 
                    <a href="/national">National League</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>