<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLiBrary Home Page</title>
    <header>
        MLiBrary
    </header>
</head>
<body>
    <header>
        <h1>Select A League</h1>
        <nav>
            <ul>
                <li type="none">
                    <a href="/american"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/54/American_League_logo.svg/200px-American_League_logo.svg.png"></a>
                </li>
                <li type="none"> 
                    <a href="/national"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d4/MLB_National_League_logo.svg/200px-MLB_National_League_logo.svg.png"></a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>